{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Услуги{% endblock %}

{% block service %}
    <p>Наши услуги</p>

    <h1>Покраска бокового зеркала  ≈900-1.700₽ <br><br>
    Покраска решетки радиатора  ≈700-2.200₽ <br><br>
    Покраска крыши  ≈6.500-10.000₽ <br><br>
    Покраска порога  ≈4.000-9.000₽ <br><br>
    Покраска крышки багажника  ≈4.000-6.500₽ <br><br>
    Покраска двери багажника  ≈3.500-8.500₽ <br><br>
    Покраска крыла  ≈4.000-6.500₽ <br><br>
    Покраска капота  ≈4.500-8.000₽ <br><br>
    Покраска боковой двери  ≈5.000-8.500₽ <br><br>
    Покраска бампера  ≈4.000-8.000₽ <br><br>
    Покраска дисков  ≈2.000-8.000₽ <br><br>
    Покраска подножки порогов  ≈1.500-3.000₽ <br><br>
    Полный покрас авто  ≈70.000-140.000₽ <br><br>
    Вверх окрас авто  ≈45.000-70.000₽ <br><br>
    -------------------<br><br>
    Полировка одной детали  700₽ <br><br>
    Полная полировка авто  11.000₽ <br><br>
    -------------------<br><br>
    Замена рычага подвески 400₽<br><br>
    Замена втулок стабилизатора 300₽<br><br>
    Замена стоек стабилизатора 450₽<br><br>
    Замена шаровой 600₽<br><br>
    Замена задней балки 2.300₽<br><br>
    Замена рулевой тяги 200₽<br><br>
    Замена рулевой рейки 400₽<br><br>
    Замена пыльника рулевой 700₽<br><br>
    Замена стойки перед/зад 1.100/900₽<br><br>
    Замена гранаты 300₽<br><br>
    Замена ремня ГРМ 800₽<br><br>
    Замена ремня привода 300₽<br><br>
    Замена головки двигателя от 3.500<br><br>
    Замена подушки двигателя 400₽</h1><br>
{% endblock %}